version: '2.1'

x-kafka-defaults: &kafka-defaults
  image: wurstmeister/kafka
  depends_on:
    - zookeeper

x-kafka-environment-defaults: &kafka-environment-defaults
  KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
  KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INSIDE:PLAINTEXT,OUTSIDE:SASL_PLAINTEXT
  KAFKA_INTER_BROKER_LISTENER_NAME: INSIDE
  KAFKA_OPTS: "-Djava.security.auth.login.config=/custom-config/kafka_server_jaas.conf"
  KAFKA_SECURITY_PROTOCOL: SASL_PLAIN
  KAFKA_SUPER_USERS: User:bob
  KAFKA_AUTO_CREATE_TOPICS_ENABLE: "false"
  KAFKA_SASL_ENABLED_MECHANISMS: PLAIN
  KAFKA_SECUTIY_INTER_BROKER_PROTOCOL: PLAINTEXT
  KAFKA_ALLOW_EVERYONE_IF_NO_ACL_FOUND: "true"
  KAFKA_AUTHORIZER_CLASS_NAME: kafka.security.authorizer.AclAuthorizer

x-kafka-volumes-defaults: &kafka-volumes
  volumes:
    - ./config:/custom-config

services:

  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"

  kafka_1:
    <<: *kafka-defaults
    ports:
      - "9092:9092"
      - "9093:9093"
    container_name: kafka_1
    <<: *kafka-volumes
    environment:
      <<: *kafka-environment-defaults
      KAFKA_BROKER_ID: 1
      KAFKA_ADVERTISED_LISTENERS: INSIDE://kafka_1:9092,OUTSIDE://localhost:9093
      KAFKA_LISTENERS: INSIDE://:9092,OUTSIDE://:9093

  kafka_2:
    <<: *kafka-defaults
    ports:
      - "29092:29092"
      - "29093:29093"
    container_name: kafka_2
    <<: *kafka-volumes
    environment:
      <<: *kafka-environment-defaults
      KAFKA_BROKER_ID: 2
      KAFKA_ADVERTISED_LISTENERS: INSIDE://kafka_2:29092,OUTSIDE://localhost:29093
      KAFKA_LISTENERS: INSIDE://:29092,OUTSIDE://:29093

  kafka_3:
    <<: *kafka-defaults
    ports:
      - "39092:39092"
      - "39093:39093"
    container_name: kafka_3
    <<: *kafka-volumes
    environment:
      <<: *kafka-environment-defaults
      KAFKA_BROKER_ID: 3
      KAFKA_ADVERTISED_LISTENERS: INSIDE://kafka_3:39092,OUTSIDE://localhost:39093
      KAFKA_LISTENERS: INSIDE://:39092,OUTSIDE://:39093
