version: 2
jobs:
  build:
    machine:
      image: ubuntu-2004:202008-01

    working_directory: ~/repo

    environment:
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:
      - checkout

      - run: gradle dependencies

      - run: ./scripts/run-e2e.sh
      - run: ./scripts/run-acl.sh
